*.pyc
*.rpt
*.parquet
*.pqt
*.csv
*.log
*.vcd
*.db
1_synth.v
*.expanded
obj_dir/*
out/*
make/out/*
total_output
result/*
make/result/*
worker_*/
*.dat
*.v
*.sv
results/*
ppa_extract/ref/*
*.egg-info/
dist/
build/
out_tb/*
src/tech_eval/ppa_extract/sweeps/multipliers/restored
references/*
output/*
abc.history